@import "../variables.scss";

.container {
    display: flex;
    box-shadow: 0px 17px 36px -9px rgba(0, 0, 0, 0.59);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: white;
}

.listContainer {
    border-spacing: 0;
    border-collapse: separate;
    width: 800px;
}

.topRow {
    background-color: $color-green;
    color: white;
    cursor: default;

    th:nth-child(1), th:nth-child(2) {
        width: 150px;
    }
}

.item {
    padding: 10px;
    text-align: left;
    font-weight: 400;
}

.itemRight {
    @extend .item;
    text-align: right;
}

.multipleItemContainer {
    @extend .item;
    display: flex;
}

.row {
    color: $color-dark-gray;
    background-color: white;
    cursor: pointer;
    td {
        border-bottom: 1px solid $color-gray;
    }
    &:last-child {
        td {
            border-bottom: none;
        }
        td:first-child {
            border-bottom-left-radius: 15px;
        }
    }
}

.rowSelected {
    @extend .row;
    background-color: $color-gray;
}

.arrow {
    display: block;
    margin-left: 15px;
    cursor: pointer;
}

.reverseArrow {
    @extend .arrow;
    transform: rotate(180deg);
}
