@import "../variables.scss";

.container {
    display: flex;
    box-shadow: 0px 17px 36px -9px rgba(0, 0, 0, 0.59);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: white;
    position: relative;
}

.listContainer {
    border-spacing: 0;
    border-collapse: separate;
    width: $table-width;
    position: relative;
}

.topRow {
    background-color: $color-green;
    color: white;
    cursor: default;
    height: $top-row-height;
}

.item {
    padding: 10px;
    text-align: left;
    font-weight: 400;
}

.itemLong {
    @extend .item;
    width: 150px;
}

.itemRight {
    @extend .item;
    text-align: right;
}

.multipleItemContainer {
    @extend .itemLong;
    display: flex;
}

.selectorItem {
    @extend .item;
    max-width: 16px;
    width: 16px;
    cursor: pointer;
}

.selectorItemOpen {
    @extend .selectorItem;
    background-color: white;
    color: $color-green;
}

.hidden {
    @extend .item;
    visibility: hidden;
}

.row {
    color: $color-dark-gray;
    background-color: white;
    cursor: pointer;
    height: $top-row-height;

    td {
        border-bottom: 1px solid $color-gray;
    }

    &:last-child {
        td {
            border-bottom: none;
        }

        td:first-child {
            border-bottom-left-radius: 15px;
        }
    }

    &:first-child {
        td:first-child {
            border-bottom-left-radius: 0;
        }
    }
}

.rowSelected {
    @extend .row;
    background-color: $color-gray;
}

.arrow {
    display: block;
    margin-left: 15px;
    cursor: pointer;
}

.reverseArrow {
    @extend .arrow;
    transform: rotate(180deg);
}
