@import "../variables.scss";

.checkbox {
    background-color: $color-green;
    height: 16px;
    width: 16px;
    color: white;
    padding: 3px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

.checkboxUnchecked {
    @extend .checkbox;
    background-color: transparent;
}

.checkboxUnchecked:after {
    content: "";
    display: block;
    border: 3px solid $color-green;
    height: 100%;
    width: 100%;
    margin-top: -3px;
    margin-left: -3px;
}

.check {
    position: absolute;
    top: 0px;
    left: 2px;
}