@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


$font-main: 'Open Sans', sans-serif;


$color-blue: #095ead;
$color-dark-blue: #052c80;
$color-green: #12b49f;
$color-dark-gray:#3f3f3f;
$color-gray: #b1b1b1;