@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


$font-main: 'Open Sans', sans-serif;


$color-blue-gradient-start: #1f67b7;
$color-blue-gradient-end: #1182c1;
$color-blue: #1d6ab8;
$color-green: #4eb7be;
$color-dark-gray:#4f4d43;
$color-gray: #d8e1e5;